.myDiv{
    text-align: left;
    color: rgb(196, 146, 146);
    float:right;
    justify-content:left;
    padding-top: 200px;
    padding-right: 50px;
}

select{
    width: 250px;
    height:30px;
    background-color: rgb(196, 146, 146);
}